.hero {
  margin: 0 auto;
  min-width: 320px;
  max-width: 375px;
  background-image: linear-gradient(
      rgba(17, 19, 31, 0.1),
      rgba(17, 19, 31, 0.1)
    ),
    url(/img/hero/background-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(
        rgba(17, 19, 31, 0.1),
        rgba(17, 19, 31, 0.1)
      ),
      url(/img/hero/background-mobile-@2x.jpg);
  }
}

.hero-conteiner {
  padding-top: 260px;
  padding-bottom: 302px;
}

.hero-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin-bottom: 24px;
}

.hero-text {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 38px;
}
.hero-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  border-radius: 15px;
  height: 46px;
  background-color: #1b414b;
  display: block;
  margin: 0 auto;
  border: none;
  text-align: center;
  padding: 14px 32px;
  width: 141px;
}

.hero-button:focus,
.hero-button:hover {
  color: #1b414b;
  background-color: #fbfbfb;
}

/*#region Tablet*/
@media only screen and (min-width: 768px) {
  .hero {
    max-width: 100%;
    background-image: linear-gradient(
        rgba(17, 19, 31, 0.1),
        rgba(17, 19, 31, 0.1)
      ),
      url(/img/hero/background-tablet.jpg);
  }

  .hero-conteiner {
    padding-top: 280px;
    padding-bottom: 282px;
    padding-left: 58px;
    padding-right: 58px;
  }

  .hero-title {
    max-width: 652px;
    font-size: 70px;
  }

  .hero-text {
    display: block;
    margin: 0 auto;
    max-width: 597px;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 48px;
  }

  .hero-button {
    font-size: 18px;
    line-height: 1.1;
    width: 179px;
    height: 52px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(
        rgba(17, 19, 31, 0.1),
        rgba(17, 19, 31, 0.1)
      ),
      url(/img/hero/background-tablet-@2x.jpg);
  }
}

/*#endregion Tablet*/

/*#region Desktop*/
@media only screen and (min-width: 1280px) {
  .hero {
    background-image: linear-gradient(
        rgba(17, 19, 31, 0.1),
        rgba(17, 19, 31, 0.1)
      ),
      url(/img/hero/background-pc.jpg);
  }
  .hero-conteiner {
    padding: 235px 139px 215px 139px;
  }
  .hero-title {
    max-width: 1002px;
    font-size: 80px;
  }
}
@media screen and (min-width: 1280px) and (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(
        rgba(17, 19, 31, 0.1),
        rgba(17, 19, 31, 0.1)
      ),
      url(/img/hero/background-pc-@2x.jpg);
  }
}

/*#endregion Desktop*/

/*#region Desctop2K*/
@media only screen and (min-width: 1440px) {
  .hero {
    background-image: linear-gradient(
        rgba(17, 19, 31, 0.1),
        rgba(17, 19, 31, 0.1)
      ),
      url(/img/hero/background-pc2k.jpg);
  }
  .hero-conteiner {
    padding: 235px 219px 215px 219px;
  }
}
@media screen and (min-width: 1440px) and (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(
        rgba(17, 19, 31, 0.1),
        rgba(17, 19, 31, 0.1)
      ),
      url(/img/hero/background-pc2k-@2x.jpg);
  }
}
/*#endregion Desctop2K*/
