.section-title{
text-align: center;
width: 854px;
height: 205px;
font-family: "Inter", sans-serif;
font-weight: 500;
font-size: 48px; 
line-height: 100%;
letter-spacing: -0.02em;
color: #fbfbfb;
margin-left: auto;
margin-right: auto;
}

.text-title{
text-align: center;
font-family: "Inter", sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.02em;
color: #fbfbfb;
opacity: 0.4;
margin-left: 475px;
margin-right: 475px;
margin-top: -30px;
margin-bottom: 75px;
}

 .customers{
display: flex;
justify-content: space-between;
gap: 32px;
 } 

 .customer{
    text-justify: auto;
    box-sizing: border-box;
   border-radius: 24px;
padding: 32px 36px;
width: 392px;
height: 282px;
background-color: #fbfbfb;
 }

.text-cust{
font-family: "Inter", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 140%;
letter-spacing: -0.02em;
text-align: center;
color: rgba(4, 3, 6, 0.4);
}

.customers-title{
font-family: "Inter", sans-serif;
font-weight: 500;
font-size: 18px;
line-height: 110%;
letter-spacing: -0.02em;
text-align: center;
color: #040306;
}

.image {
   margin: auto;
border-radius: 72px;
padding: 12px;
width: 56px;
height: 56px;
}

